#topRow {
    display:flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: flex-end;
}


#USS_Schwarzenegger img {
    height: 200px;
}


#alien_ships img {
    margin-top: 50px;
}

.ship {
    margin: 15px 40px;
}

#bottomRow {
    padding:20px; 
    font: 20pt Arial; 
    text-align: center;
}

.stats {
    width:350px; 
    height: 400px;
    visibility: hidden;
}

.healthLabel {
    margin-top: 400px;
    font:18pt Arial; 
    font-weight: bold;
}

.button {
    background-color: white;
    border: 3px solid; 
    border-color: black;
    font:10pt Arial; 
    border-radius: 10px;
    padding: 15px 25px; 
    font-weight: bold;
}

.button:hover{
    background-color: black;
    color: white; 
}

.hpBorder {
    width:300px;
    height:30px;
    border:3px solid; 
    border-color: black;
}

.hpBar {
    width:300px; 
    height:30px;
    background-color: green;
}