@import url('http://fonts.cdnfonts.com/css/invasion-2000');

body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0ZWCzOMbbUzsiML8ume5vDlRKNQe_OYp-7tV1LXSaNNTd1fZdBClnUzvZbfNeqG27f3o&usqp=CAU');
    font-family: 'Invasion2000', sans-serif;
    font-size: xx-large;
    font-style: bold;
    text-align: center;
}

#topRow {
    display:flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: flex-end;
}


#USS_Schwarzenegger img {
    height: 200px;
}


#alien_ships img {
    margin-top: 50px;
}

.ship {
    margin: 15px 40px;
}

#bottomRow {
    padding:20px; 
    font-family: 'Invasion2000', sans-serif;; 
    text-align: center;
    color:red;
    font-size: 50px;
}

.stats {
    width:350px; 
    height: 400px;
    visibility: hidden;
}

.healthLabel {
    margin-top: 400px;
    font-family: 'Invasion2000', sans-serif; 
    font-weight: bold;
    font-size: 25px;
    color:red;
}

.button {
    background-color: white;
    border: 3px solid; 
    border-color: black;
    font-family: 'Invasion2000', sans-serif;
    border-radius: 10px;
    padding: 15px 25px; 
    font-weight: bold;
    font-size: 25px;
}

.button:hover{
    background-color: black;
    color: white; 
}

.hpBorder {
    width:300px;
    height:30px;
    border:3px solid; 
    border-color: black;
}

.hpBar {
    width:300px; 
    height:30px;
    background-color: green;
}

#USS_Schwarzenegger img {
    visibility: visible;
}

